.container {
    width: 400px;
    height: 450px;
    background-color: #333;
    float: left;
}
.tangram{
    padding: 20px 30px;
    position: relative;
}

.triangle{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 50px solid #d2696a;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
    transition: all 2s;
}
.triangle2{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 50px solid darkviolet;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    transition: all 2s;
}
.triangle3{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 70px solid crimson;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    transition: all 2s; 
}

.triangle4{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid mediumblue;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transition: all 2s;
}
.triangle5{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid #b20000;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
    transition: all 2s;
}
.carre{
    position: absolute;
    background-color: orangered;
    width: 70px;
    height: 70px;
    transition: all 2s;
}

.parallelogram {
    clip-path: polygon(38% 0%, 98% 0%, 68% 100%, 8% 100%);
    width: 161px;
    height: 45px;
    background: whitesmoke;
    position: absolute;
    transform: translate(0px, 0px) rotate(-1deg);
    transition: all 2s;
}
    /* position: absolute;
    background-color: #81b442;
    width: 64px; 
    height: 70px; */

    /* width  : 100px;
    height : 0;
    border-top  : 50px solid #81b442;;
    border-left : 20px solid transparent;
    position : relative;
    }

.parallelogram:after {
    width  : 0;
    height : 0;
    content: '';
    border-bottom : 50px solid #81b442;
    border-right  : 20px solid transparent;
    border-left   : 20px solid transparent;
    position : absolute;
    top  : -50px;
    right: -20px;
} */
    

.buttons{
    float: left;
	width: 140px;
}

button{
    background-color: #cb0b0b;
	border: none;
	color: #fff;
	font-size: 14px;
	padding: 10px 15px;
	width: 140px;
	text-align: left;
	margin-bottom: 4px;
	cursor: pointer;
} 